.App {
  text-align: center;
}

.App-logo {
  height: 45vmin;
  pointer-events: center;
}

.App-header {
  background-color: #edcaf8;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 21px;
  color: rgb(0, 0, 0);
}

.App-link {
  color: #9922a8;
}
